body {
	font-family: 'Press Start 2P';
}

.container {
	width: 80%;
	padding: 0%;
	margin: 10%;
	border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.game {
	position: relative;
	width: 50%;
	image-rendering: pixelated;
}

.stats {
	width: 25%;
	padding: 30px;
}

.store {
	width: 25%;
}

.bridge {
	width: 100%;
}

.bridge:active {
	width: 98%;
	padding: 1%;
}

#bgImg {
	top: 0px;
	position: absolute;
	width: 100%;
}

#bridgeBack {
	top: 0px;
	position: absolute;
	width: inherit;}

#road {
	top: 0px;
	position: absolute;
	width: inherit;
}

#bridgeFront {
	top: 0px;
	position: absolute;
	width: inherit;
}